<div class="row d-flex justify-content-between align-items-center ">
  <h5 class="p-2">Resumen Espera (no Agrupado)</h5>
  <span></span>
  <button class="btn btn-success m-1" *ngIf="respReporte.length > 0" (click)="isCollapsed = !isCollapsed">
    {{ isCollapsed ? 'Mostrar Formulario' : 'Ocultar Formulario' }}
  </button>

</div>
<section class="connectedSortable" [@openClose]="isCollapsed ? 'closed' : 'open'" >
  <div class="pb-0 py-3">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">

        <div class="col-lg-6 col-12">
          <div class="box-input mb-3">
            <div class="row">
              <div class="col-3">
                <p class="text-input sw-text" 
                [ngClass]="{'text-red': !esAlMenosUnoSeleccionado('sidO') && submitted}">Oficinas</p>
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder="Buscar oficina..." 
                 (input)="filtrarOficinas($event)">
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-10">
                    <p class="text-input sw-text">Seleccionar todas</p>
                  </div>
                  
                  <div class="pl-0 col-2">
                    <label class="switch">
                      <input type="checkbox" (change)="SeleccionarTodas($event)">
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="table-scroll">
                  <table class="table table-xs table-striped table-hover mt-2 tabla-edit mx-auto">
                    <thead class="table-head-verde">
                      <tr>
                        <th colspan="1">Id</th>
                        <th colspan="3">Oficina</th>
                        <th colspan="2">Fecha Min</th>
                        <th colspan="2">Fecha Max</th>
                        <th colspan="1">Acción</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="sidO">
                      <tr *ngFor="let control of oficinasFiltradas; let i = index">
                        <td colspan="1">{{ control.idOficina }}</td>
                        <td colspan="3">{{ control.oficina }}</td>
                        <td colspan="2">{{ control.dataMin | date: 'dd/MM/yyyy' }}</td>
                        <td colspan="2">{{ control.dataMax | date: 'dd/MM/yyyy' }}</td>
                        <td colspan="1">
                          <input [formControlName]="i" (change)="OficinaChange(i, $event)" type="checkbox"
                            class="mx-auto" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-6 col-12" >
          <div class="box-input mb-3">
            <div class="row">
              <div class="col-3">
                <p class="text-input sw-text" 
                [ngClass]="{'text-red': !esAlMenosUnoSeleccionado('sidS') && submitted}">Series</p>
              </div>
              <div class="col-5">
                <input type="text" class="form-control" placeholder="Buscar serie..." 
                 (input)="filtrarSeries($event)">
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-10">
                    <p class="text-input sw-text">Seleccionar todas</p>
                  </div>
                  <div class="pl-0 col-2">
                    <label class="switch">
                      <input type="checkbox" (change)="SeleccionarTodasSeries($event)">
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="table-scroll">
                  <table class="table table-xs table-striped table-hover mt-2 tabla-edit mx-auto">
                    <thead class="table-head-verde">
                      <tr>
                        <th colspan="3">id</th>
                        <th colspan="1">Serie </th>
                        <th colspan="1">Acción</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="sidS">
                      <tr *ngFor="let control of seriesFiltradas; let i = index">
                        <td colspan="3"> {{ control.id }}</td>
                        <td colspan="1">{{ control.valor }}</td>
                        <td colspan="1">
                          <input [formControlName]="i" (change)="serieChange(i, $event)" type="checkbox"
                            class="mx-auto" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4 col-lg-6 col-12">
          <label for="rangoFecha" class="text-input text-nowrap">Rango Fecha</label>
          <div class="box-input mb-3">
            <div class="row align-items-center">
              <div class="col-sm-1 pr-0 col-12">
                <!-- <label class="text-input text-nowrap"></label> -->
              </div>
              <div class="col-sm-10 col-12">
                <input type="text" placeholder="Selección de fecha" (bsValueChange)="selectFecha($event)" 
                placement="right" [bsConfig]="bsConfig"  #dpRange="bsDaterangepicker" bsDaterangepicker 
                [ngClass]="{'invalid-border': (form.get('sDI')?.invalid && (form.get('sDI')?.touched || submitted))}"/>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-6 col-12">
          <label class="text-input text-nowrap">Hora Inicio</label>
          <div class="box-input mb-3">
            <div class="row align-items-center">
              <div class="col-sm-1 pr-0 col-12">
              </div>
              <div class="col-sm-10 col-12">
                <select formControlName="hhI"
                [ngClass]="{'invalid-border': (form.get('hhI')?.invalid && (form.get('hhI')?.touched || submitted))}">
                  <option value="" selected disabled>Selecionar</option>
                  <option *ngFor="let hora of horas" [value]="hora.time">{{hora.valor}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-6 col-12">
          <label class="text-input text-nowrap">Hora Fin</label>
          <div class="box-input mb-1">
            <div class="row align-items-center">
              <div class="col-sm-1 pr-0 col-12">
              </div>
              <div class="col-sm-10 col-12">
                <select formControlName="hhF" 
                [ngClass]="{'text-red': form.get('hhF')?.errors?.['invalidRange']}"
                [ngClass]="{'invalid-border': (form.get('hhF')?.invalid && (form.get('hhF')?.touched || submitted))}">
                  <option value="" selected disabled>Selecionar</option>
                  <option *ngFor="let hora of horas" [value]="hora.time">{{hora.valor}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="form.get('hhF')?.errors?.['invalidRange']">
          <small class="text-danger">
           {{error}}
          </small>
        </div>

        <div class="col-xl-2 col-lg-6 col-12">
          <label class="text-input text-nowrap">Intervalo (min)</label>
          <div class="box-input mb-1">
            <div class="row align-items-center">
              <div class="col-sm-1 pr-0 col-12">
              </div>
              <div class="col-sm-10 col-12">
                <input type="number" placeholder="Entre 1 y 60" formControlName="int"
                [ngClass]="{'invalid-border': (form.get('int')?.invalid && (form.get('int')?.touched || submitted))}" min="1" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-6 col-12">
          <label class="text-input text-nowrap">Límite (min)</label>
          <div class="box-input mb-1">
            <div class="row align-items-center">
              <div class="col-sm-1 pr-0 col-12">
              </div>
              <div class="col-sm-10 col-12">
                <input type="number" placeholder="Entre 1 y 240" formControlName="lim" 
                [ngClass]="{'invalid-border': (form.get('lim')?.invalid && (form.get('lim')?.touched || submitted))}" min="1"/>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xl-3 col-lg-6 col-12">
          <div class="box-input mb-3">
            <div class="row align-items-center">
              <div class="col-sm-5 pr-0 col-12">
                <p class="text-input text-nowrap">Reporte</p>
              </div>
              <div class="col-sm-7 col-12">
                <input type="time" formControlName="tipo" />
              </div>
            </div>
          </div>
        </div> -->

      </div>

      <div>
        <button type="submit" class="btn btn-success m-1">
          Consultar
        </button><br><br>
      </div>

    </form>
  </div>

</section>


<!-- <div class="row">
  <div class="col-xl-12 mt-3 d-flex  align-items-center">
    <h5 class="subtitle mr-auto">Eventos del ejecutivo</h5>

    <div class="d-flex align-items-center">
        <button class="btn btn-success mr-2" >Exportar a Txt</button>
        <button class="btn btn-warning">Exportar a CSV</button>
    </div> -->

<div class="row" *ngIf="respReporte.length > 0">
<!-- <div class="row"> -->
  <div class="col-xl-12 mt-3 d-flex  align-items-center">
    <h5 class="subtitle mr-auto">Datos de Entrada</h5>
  </div>
  <div class="col-md-12">
    <div class="overflow-auto" [@openClose]="isCollapsed ? 'open' : 'closed'">
      <table class="table table-bordered table-sm table-striped table-hover mt-2">
        <thead class="table-head-verde">
          <tr>
            <th>Oficina</th>
            <th>Serie</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Hora Ini</th>
            <th>Hora Fin</th>
            <th>Intervalo</th>
            <th>Límite</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td > {{selectNombreOficina}}</td>
            <td> {{selectNombreSerie}}</td>
            <td> {{form.value.sDI | date: 'dd/MM/yyyy'}} </td>
            <td> {{form.value.sDF | date: 'dd/MM/yyyy'}}</td>
            <td> {{form.value.hhI /60}}</td>
            <td> {{form.value.hhF /60}}</td>
            <td> {{form.value.int}} </td>
            <td> {{form.value.lim}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-12 mt-3 d-flex  align-items-center">
      <h5 class="subtitle mr-auto">Resultado</h5>
  
      <div class="d-flex align-items-center">
        <button placement="bottom" (click)="exportExcel()" *ngIf="respReporte.length > 0" tooltip="Exporta los datos de los usuarios filtrados" class="btn btn-ligth boton px-0">
          <i class="fa fa-file-excel ml-2 "></i>
          <i class="fa fa-arrow-down-long "></i></button>
      </div>
  
    </div>
    <div class="overflow-auto">
      
      <table class="table table-bordered table-sm table-striped table-hover mt-2">
        <thead class="table-head-verde">
          <tr>
            <th class="col-2">Rango Espera</th>
            <th colspan="4">Clientes Atendidos</th>
            <th colspan="2">Clientes Perdidos</th>
            <th colspan="2">% Total</th>
            <th class="col">Espera Rango Acumulado</th>
            <!-- <th class="col">Delta Espera Acum</th> -->
          </tr>
          <tr>
            <td class="col-1">Minutos</td>
            <td class="col-1">Normal</td>
            <!-- <td class="col-1">Tol </td> -->
            <td class="col-1">Especial</td>
            <td class="col-1">Total</td>
            <td class="col-1">%</td>
            <td class="col-1">#</td>
            <td class="col-1">%</td>
            <td class="col-1">Rango</td>
            <td class="col-1">Acumulado</td>
            <td colspan="1"></td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of respReporte; let i = index">

            <tr *ngIf="data.rngtxt === 'SERIE'" style="background-color: #0b147a !important; color:#fff !important">
              <th colspan="12">{{data.qAteNOfi}} - {{data.qAteTOL}}</th>
            </tr>

            <tr *ngIf="data.rngtxt !== 'SERIE' && data.rngtxt !== 'STT' && data.rngtxt !== 'TOT'">
              <td>{{data.rngtxt}}</td>
              <td>{{esNumero(data.qAteNOfi) ? data.qAteNOfi : 0}}</td>
              <!-- <td>{{esNumero(data.qAteTOL) ? data.qAteTOL : 0}}</td> -->
              <td>{{data.qAteE}}</td>
              <td>{{data.qAteT}}</td>
              <td>{{data.pAte}}</td>
              <td>{{data.qPer}}</td>
              <td>{{data.pPer}}</td>
              <td>{{data.pRan}}</td>
              <td>{{data.pAcu}}</td>
              <td>{{data.tEspA}}</td>
              <!-- <td>{{data.tEspDA}}</td> -->
            </tr>
            <tr *ngIf="data.rngtxt === 'STT'" style="background-color: #0b147a !important; color:#fff !important">
              <td>{{data.rngtxt === 'STT' ? 'Total': data.rngtxt }}</td>
              <td>{{data.qAteNOfi}}</td>
              <!-- <td>{{data.qAteTOL}}</td> -->
              <td>{{data.qAteE}}</td>
              <td>{{data.qAteT}}</td>
              <td>{{data.pAte}}</td>
              <td>{{data.qPer}}</td>
              <td>{{data.pPer}}</td>
              <td>{{data.pRan}}</td>
              <td>{{data.pAcu}}</td>
              <td>{{data.tEspA}}</td>
              <!-- <td>{{data.tEspDA}}</td> -->
            </tr>
            <tr *ngIf="data.rngtxt === 'TOT'" style="background-color: #0b147a !important; color:#fff !important">
              <td>{{data.rngtxt === 'TOT' ? 'Totales' : data.rngtxt }}</td>
              <td>{{data.qAteNOfi}}</td>
              <!-- <td>{{data.qAteTOL}}</td> -->
              <td>{{data.qAteE}}</td>
              <td>{{data.qAteT}}</td>
              <td>{{data.pAte}}</td>
              <td>{{data.qPer}}</td>
              <td>{{data.pPer}}</td>
              <td>{{data.pRan}}</td>
              <td>{{data.pAcu}}</td>
              <td>{{data.tEspA}}</td>
              <!-- <td>{{data.tEspDA}}</td> -->
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-container>
  <div class="spinner-container">
      <ngx-spinner name="servicio-loading" [fullScreen]="true" type="ball-scale-ripple" size="large">
      </ngx-spinner>
  </div>
</ng-container>