<div class="campana-container mt-6" *ngIf="campaign && showCampana">
  <div class="">
    <h1 class="content-title mt-4 px-lg-4" [ngClass]="customer.slug">{{campaign.CampanaPantalla}}</h1>
    <h1 class="content-subtitle mt-5" [ngClass]="customer.slug">{{campaign.TextoSolicitaContacto}}</h1>
    <div class="d-flex mt-5 justify-content-center">
      <button type="button" class="btn btn-primary campana-respuesta-btn shadow mb-4 me-5" (click)="registrarEvento('MI')">{{campaign.TextoBotonAceptar}}</button>
      <button type="button" class="btn btn-primary campana-respuesta-btn shadow mb-4" (click)="registrarEvento('RP')">{{campaign.TextoBotonCancelar}}</button>
    </div>
    <div class="d-flex justify-content-center">
      <div class="temporizador mt-4">
        {{counter}}
      </div>
    </div>
  </div>
</div>
<div class="ticket-container mt-6" *ngIf="!error && showTicket && !showCampana">
  <h1 class="content-title mt-4" [ngClass]="customer.slug">Tu turno ha sido ingresado</h1>
  <div class="">
    <h2 class="content-subtitle mt-4" [ngClass]="customer.slug">Serás llamado en un momento</h2>
    <h3 [ngClass]="{'texto-turno': turn.turno < 100,
                    'texto-turno-2': turn.turno >= 100 && turn.turno < 1000,
                    'texto-turno-3': turn.turno >= 1000}">{{this.turn.letra | titlecase}}{{this.turn.turno}}
    </h3>
    <div class="img-container mt-5"  [ngClass]="customer.slug">
      <img [src]="images.ticket" class="img-ticket" alt="ticket">
    </div>
    <h1 class="content-title mt-6 mt-md-5 ticket-mensaje" [ngClass]="customer.slug">¡Muchas gracias por tu preferencia!</h1>
  </div>
</div>
  