/* You can add global styles to this file, and also import other style files */

:root {
    --color-llamado: #646464;
    --color-llamado-texto: white;
    --color-llamado-small: white;
    --color-llamado-small-texto: #0079c8;
    --fondo-pantalla: rgba(0, 121, 200, 0.4);
    --color-footer: #c5c5c5;
    --franja-1: rgba(0, 121, 200, 0.4);
    --franja-2: #0079c8;
    --texto-solo: #0079c8;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.input-error {
    border-color: red !important;
    border-width: 2px !important;
}

.field-name-error {
    /* color: red !important;
    font-weight: 700 !important; */
}

.text-area-ticket{

}

.boton-emisor {
    font-size: 1.1rem;
    background-color: var(--color-llamado);
    color: var(--color-llamado-texto);
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 20%) !important;
    width: 85%;
    position: relative;
    text-align: center;
}

.ngx-pagination .current {
    background: var(--color-llamado) !important;
}

.texto-customer {
    color: var(--color-llamado);
}

.tab-content {
    min-height: 325px;
}

.box-repo {
    min-height: 140px;
}


.table-scroll {
    max-height: 236px;
    overflow-y: auto;
}

.div-child-7{
  display: table-cell;
  width: 14.28%;
}

.div-father-7{
  display: table;
  width: 100%;
}

.conf-bar .fa-eye{
  position: relative;
  bottom: 12px;
  right: 10px;
}
