<div class="bar-serie day-card position-relative px-2">
    <p class="font-light">{{data.dia}}</p>
    <p class="text-serie mt-n2 mb-2"  [ngClass]="{'primary-text': data.modificado === true}">
        <i class="far fa-clock"></i> {{data.activo ? data.de : '--:--'}} a {{data.activo ? data.hasta : '--:--'}}
    </p>
    <p class="text-serie mt-n2 mb-0" [ngClass]="{'primary-text': data.modificado === true}">
        <i class="far fa-clock"></i> {{data.activo && data.yde != '00:00' ? data.yde : '--:--'}} a {{data.activo && data.yhasta != '00:00' ? data.yhasta : '--:--'}}
    </p>
    <div class="close-bar" *ngIf="!hideDeleteBtn">
        <a type="button" (click)="deleteDay(data.dia)"><i class="fas fa-times"></i></a>
    </div>
</div>