<section class="content pl-2 pr-2">
    <div class="container-fluid">
        <div class="col-12 row px-0">
            <div class="col-12 col-xl-5">
                <div class="form-group">
                    <div class="input-group relative">
                        <input type="text" (keyup)="tecleado($event.target)" [formControl]="inputSearh" class="form-control form-control-md search" placeholder="Buscar series..." />
                        <!-- <span class="delete-search-icon">
          <i class="fa fa-search"></i>
        </span> -->
                        <div class="input-group-append">
                            <button type="button" (click)="limpiar()" class="btn btn-md btn-default">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-search"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-7 d-flex align-items-center justify-content-center">
                <h5 class="detalles text-center">-- Selecciona una serie haciendo clic en la tarjeta correspondiente --</h5>
            </div>
        </div>
        <div class="row mb-2 lista-oficinas mt-4 mt-xl-0">

           <ng-container *ngIf="!error" >
            <div class="col-xl-3 col-lg-3 col-sm-4 col-12" *ngFor="let serie of series | buscador : searchText : ['Serie']; let i = index" (click)="handleSelectSerie(serie)">
                <div class="bar-serie serie-box d-flex align-items-center justify-content-between cursor-pointer oficina-card serieAgenda-card mb-2" [ngClass]="{'bg-selected-serie text-white selected-serie':serie.IdSerie == selectedIdSerie, 'serieAgenda': serie.Agenda && !(serie.IdSerie == selectedIdSerie)}" >
                    <p class="text-oficina m-0 pb-0">{{serie.IdSerie}} - {{ serie.Serie }}</p>
                    <i *ngIf="serie.Agenda" class="fa-solid fa-calendar-days"></i>
                </div>
            </div>
           </ng-container>
            <div *ngIf="error" class="col-xl-12 justify-content-center align-items-center d-flex">
                <h3>{{errorMsg}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12  connectedSortable">
                <div class="card box-success box">
                    <div class="card-header">
                        <div class="card-tools">
                            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="handleSelectedTabChange($event)" [(selectedIndex)]="serviciosAgendaTab"  [dynamicHeight]="true" #tabGroup>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon>event</mat-icon> Servicios
                                    </ng-template>
                                    <div class="card-body p-0 p-xl-4">
                                        <div class="tab-content p-0">
                                            <app-servicios-agenda></app-servicios-agenda>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon>cruelty_free</mat-icon> Feriados
                                    </ng-template>
                                    <div class="card-body">
                                        <div class="tab-content p-0">
                                            <app-feriados></app-feriados>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>